bpnetlite < 0.6.0
captum == 0.5.0
enformer_pytorch
furo==2021.11.16
# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
# sphinx_rtd_theme
myst-parser[linkify]
numpy
pandas
pytorch-lightning < 2.0
sphinx>=3.2.1
torch
torchmetrics
